body {
    margin: 0;
    font-size: 100%;
    background-color: rgba(26, 26, 26, 1);
    font-family: helvetica;
    color: white;
    text-align: center;

    -moz-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

@font-face {
  font-family: impactFont;
  src: url(/assets/Impact.ttf);
}

#fixed-bg {
    right: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;



    top: 0;
    background: -moz-linear-gradient(top, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0.7) 50%, rgba(26, 26, 26, 1) 100%), url('../public/about_me_background_3.png') no-repeat;
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(26, 26, 26, 1)), color-stop(50%, rgba(26, 26, 26, 0.7)), color-stop(100%, rgba(26, 26, 26, 1))), url('../public/about_me_background_3.png') no-repeat; */
    /* background: -webkit-linear-gradient(top, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0.7) 50%, rgba(26, 26, 26, 1) 100%), url('../public/about_me_background_3.png') no-repeat; */
    background: -o-linear-gradient(top, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0.7) 50%, rgba(26, 26, 26, 1) 100%), url('../public/about_me_background_3.png') no-repeat;
    background: -ms-linear-gradient(top, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0.7) 50%, rgba(26, 26, 26, 1) 100%), url('../public/about_me_background_3.png') no-repeat;
    background: linear-gradient(to bottom, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0.7) 50%, rgba(26, 26, 26, 1) 100%), url('../public/about_me_background_3.png') no-repeat;
    
    background-size: cover;
    position: fixed;

    -moz-background-attachment: fixed;
    -webkit-background-attachment: fixed;
    -o-background-attachment: fixed;
    -ms-background-attachment: fixed;
    background-attachment: fixed;

    width: 100%;
    height: 100%;
    z-index: -1;
}

#container {
    padding: 2% 10%;
    text-align: left;
}

#home-button {
    background-color: #1A1A1A;
    position: absolute;
    right: 1rem;
    top: 1rem;
    height: 2rem;
    width: 2rem;
}

#home-button a img {
    -moz-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

#splash-container {
    text-align: center;
    font-family: impactFont;
}

#splash-container #splash {
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px black;
    background-color: black;

    -moz-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

canvas {
    margin-bottom: 5rem;
}

.skills, .leadershipExperience, .education, .myLinks, .intro {
  margin-bottom: 6rem;
}

.skills div h3 {
  text-align: center;
}

.leadershipExperience ul {
  padding-left: 0px;
  list-style: none;
}

.leadershipExperience ul li ul {
  padding-left: 2rem;
  list-style-type: disc;
}

@media only screen and (min-width: 1037px) {
  .skills {
    margin-bottom: 0rem;
  }
  .skills div {
    display: inline-block;
    width: 49%;
  }

  .skills div ul {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
  }
}

.myLinks {
  width: 100%;
}

.myLinks a {
  width: 33%;
  text-decoration: none;
}

a {
  color: chartreuse;
}

.myName {
  font-size: 3rem;
  font-weight: bolder;
  color: rgb(159, 62, 250);
}

.intro p {
  font-size: 1.5rem;
}