body {
    margin: 0;
    font-size: 100%;
    background-color: rgba(26, 26, 26, 1);
    font-family: helvetica;
    color: white;

    -moz-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

@font-face {
  font-family: impactFont;
  src: url(/assets/Impact.ttf);
}

#fixed-bg {
    background: -moz-linear-gradient(top, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0.7) 50%, rgba(26, 26, 26, 1) 100%), url('../public/about_me_background_3.png') no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(26, 26, 26, 1)), color-stop(50%, rgba(26, 26, 26, 0.7)), color-stop(100%, rgba(26, 26, 26, 1))), url('../public/about_me_background_3.png') no-repeat;
    background: -webkit-linear-gradient(top, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0.7) 50%, rgba(26, 26, 26, 1) 100%), url('../public/about_me_background_3.png') no-repeat;
    background: -o-linear-gradient(top, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0.7) 50%, rgba(26, 26, 26, 1) 100%), url('../public/about_me_background_3.png') no-repeat;
    background: -ms-linear-gradient(top, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0.7) 50%, rgba(26, 26, 26, 1) 100%), url('../public/about_me_background_3.png') no-repeat;
    background: linear-gradient(to bottom, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0.7) 50%, rgba(26, 26, 26, 1) 100%), url('../public/about_me_background_3.png') no-repeat;
    
    /*background-size: 100% auto;*/
    background-size: cover;
    position: fixed;

    -moz-background-attachment: fixed;
    -webkit-background-attachment: fixed;
    -o-background-attachment: fixed;
    -ms-background-attachment: fixed;
    background-attachment: fixed;

    width: 100%;
    height: 100%;
    z-index: -1;
}

#container {
    padding: 2% 10%;
}

#home-button {
    background-color: #1A1A1A;
    position: absolute;
    right: 1rem;
    top: 1rem;
    height: 2rem;
    width: 2rem;
}

#home-button a img {
    -moz-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

#splash-container {
    text-align: center;
    font-family: impactFont;
}

#splash-container #splash {
    border-radius: 50%;
    box-shadow: 0px 0px 2px 4px black;
}