body {
  background-color: #1a1a1a;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.scene {
  width: 100%;
  height: 100vh;
  perspective: 1000px;
}

.butterfly {
  position: absolute;
  transform-style: preserve-3d;
}

.wing {
  display: inline-block;
  transform-origin: right center;
  transform-style: preserve-3d;
  position: relative;
}

.wing > * {
  position: relative;
  margin: 3% 3%;
}

.forewing,
.hindwing {
  position: relative;
}

.section {
  position: absolute;
}

/* Forewing section positioning */
.forewing .section.one {
  width: 46.52%;
  height: 54.26%;
}

.forewing .section.one svg {
  position: absolute;
  bottom: 0;
}

.forewing .section.two {
  width: 40.43%;
  height: 22.11%;
  top: 59.5%;
}

.forewing .section.two svg {
  position: absolute;
  top: 0;
}

.forewing .section.three {
  width: 85.65%;
  top: 62%;
  left: 10%;
}

.forewing .section.four {
  width: 39.04%;
  height: 33.96%;
  top: 59.5%;
  left: 60%;
}

.forewing .section.four svg {
  position: absolute;
  top: 0;
}

.forewing .section.five {
  width: 66%;
  height: 53.45%;
  left: 21%;
}

.forewing .section.five svg {
  position: absolute;
  bottom: 0;
}

/* Hindwing section positioning */
.hindwing .section.one {
  width: 36.72%;
  top: 24%;
}

.hindwing .section.two {
  width: 77.79%;
  left: 22%;
}

.hindwing .section.three {
  width: 38.41%;
  top: 53%;
  left: 47%;
}

.hindwing .section.center {
  width: 54.52%;
  top: 28%;
  left: 25%;
}

.right.wing {
  transform: rotateY(180deg);
  right: 45%;
}

.butterfly {
  z-index: 1; /* Will be set dynamically in JS */
}

@keyframes flutter-left {
  0%,
  100% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  50% {
    transform: rotateY(60deg) rotateX(8deg);
  }
}

@keyframes flutter-right {
  0%,
  100% {
    transform: rotateY(180deg) rotateX(0deg);
  }
  50% {
    transform: rotateY(120deg) rotateX(-8deg);
  }
}

.wing.left {
  animation: flutter-left 0.5s infinite ease-in-out;
}
.wing.right {
  animation: flutter-right 0.5s infinite ease-in-out;
}
